# Data files (too large for git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.csv
*.sqlite
*.db

# Model files
models/*
!models/.gitkeep
*.pkl
*.h5
*.pt

# Environment
.env
venv/
env/
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

*.env

player_of_the_week_script_old.py
run_nba_pipeline.sh
kaggle.json
cis-5450-final-project-485661e2f371.json
.dockerignore
.DS_Store
